@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;

}
.header img {
    float: left;
    width: 100px; 
    height: 70px; 
    display: flex;
}
.header h1{
    position: relative;
    top: 18px;
    left: 10px;
    display: flex;
    margin-top: 0 !important;
}
.wrapper{
    width: 1170px;
    margin-left: 25px;
}
.logo img{
    width: 90px;
    float: left;
    padding-left: 2%;
    padding-top: 0.5%;
    display: flex;
}
.topnav{
    background-color: none;
    float: right;
    display: flex;
    margin-left: 54%;
    position: absolute;
    margin-bottom: 0 !important;
    margin-top: -92px;
}
.topnav a{
    float: right;
    margin-right: 45px;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.topnav a:hover{
    background-color: white;
    color: lightgrey;
}
.topnav a.active{
    background-color: black;
    color: lightgrey;
}
.topnav a.active:hover{
    background-color: lightgrey;
    color: black;
}
.header{
    overflow: hidden;
    background-color: white;
    padding: 2%;
    display: flex;
}
.header a{
    float: left;
    color: black;
    text-align: left;
    padding: 1%;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    border-radius: 4px;
}
.header a.logo{
    font-size: 45px;
    font-weight: bold;
}
@media screen and (max-width: 500px){
    .header a{
        float: none;
        display: block;
        text-align: left;
    }
}
.quiz{
    font-size: 30px;
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: center;
}
.paragraph{
    text-align: center;
    display: flex;
    padding: 3%;
    font-size: 17px;
} 
.dessert{
    font-size: 30px;
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: center;
}
.quickbite{
    font-size: 30px;
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: center;
}
.top3{
    font-size: 30px;
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: center;
}
.column{
    

}
#start{
    text-align: center;
}


