@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;

}
.header img {
    float: left;
    width: 100px;
    height: 70px;
}
.header h1{
    position: relative;
    top: 18px;
    left: 10px;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
.logo img{
    width: 90px;
    float: left;
    padding-left: 5%;
    padding-top: 0.5%;
}
.topnav a{
    float: right;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.topnav a:hover{
    background-color: white;
    color: grey;
}
.topnav a.active{
    background-color: lightgrey;
    color: black;
}